*{
    font-size: 2.5rem;
}

.bk{
    background-color: #044666 !important;
    height: 80px;
}

.text_cl{
    color: white;
}

.align{
    display: flex;
    align-items: center;
}

.block{
    display: block;
    line-height: 80px;
}
a{
    text-decoration: none;

}
.wrap{
    flex-wrap: nowrap !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

