* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.sub_cart {
    /* flex: 1; */
    display: block;
    /* width: 100px; */
    /* right: 15px; */
    /* border: 1px solid grey; */
    /* height: 120vh; */
    border-bottom: none;
    background-color: white;
}

.img {
    width: 100%;
    display: flex;

}

.img img {
    /* width: 350px; */
    /* margin-left: 25%; */
    width: auto;
    margin: auto;
}

.infomation {
    /* margin: auto; */
    text-align: center;
    /* margin-left: 5rem; */
}

.p {
    font-size: 18px;
    font-weight: bold;
}

.btn {
    background-color: #e31837;
    margin-bottom: 20px;
    color: white;
    padding: 10px 18px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(145, 17, 17);
}


/* List cart */
.cart {
    /* position: absolute;
    right: 40px;
    top: 5%; */
    margin: auto;
    max-width: 80%;
    overflow-y: overlay;
    overflow-x: hidden;
}

.list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: solid grey 1.5px;
    align-items: center;
    position: relative;
}

.list li {
    list-style: none;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    width: 35%;
}

.list div {
    position: absolute;
    right: 0;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    font-size: 25px;
    cursor: pointer;
    color: red;
    transition: all .2s linear;
    font-weight: bold;
    /* padding-bottom: 5px; */
}

.bonus {}

.bonus li {
    font-size: 18px;
}

.list div:hover {
    /* font-size: 30px; */
    transform: rotate(180deg);
}

.img_cart {
    height: 50px;
    /* width: 100%; */
    object-fit: cover;
}

.editBtn{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    font-size: 18px;
    padding: .15rem 0;
    height: 100%;
    font-weight: bolder;
    background-color: rgba(230, 200, 139, 0.952);
    opacity: 0;
}

.list li:hover .editBtn{
    opacity: 1;
}


.alert{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* transform: translate(-50%,-50%); */
    /* width: 300px;
    height: 120px; */
    width: 100%;
    background-color: rgba(158, 156, 147, 0.432);
    z-index: 100;
}

.alert_cotent{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 3px 0 0 rgba(58, 55, 55, 0.493);
    background-color: rgb(243, 200, 7);
    width: 300px;
    height: 120px;
    z-index: 1000;
}















@media screen and (min-width: 1198px) and (max-width:1300px) {
    .sub_cart {
        /* right: -20px; */
    }
}


@media screen and (max-width: 570px) {
    .sub_cart {
        /* display: none; */
    }

    .cart{
        max-width: 100%;
    }

    .list{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
    }

    .list div{
        font-size: 3.3rem;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    .list div:hover{
        transform: translateY(-50%);
        font-size: 3.5rem;
    }

    .list li{
        padding: 2px;
    }
}