
.modal_content {
    position: absolute;
    top:50%;
  
    left:50%;
    transform: translate(-50%, -50%);

    border-radius: 3px;
    max-width: 100%;
    background-color: white;
    animation: FadeIn linear 0.2s ;

}
.form_login{
    padding-left: 30px;
}
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.img_Lg_sm{
    width: 100%;
    height: auto;
}
.btn_regin,
.btn_login{
    display: flex;
}
.modal_content{
    display: flex;
}
.btn_regin2,
.btn_login2,
.btn_regin1,
.btn_login1{
    font-size: 14px;
    padding: 0 8px;
    font-weight: 600;
    color: #ccc;
    cursor: pointer;
    line-height: 48px;
}
.number_ip,
.name_ip,
.pass_ip,
.email_ip{
    font-size: 14px;
    padding: 12px 8px;
    height: 100%;
    width: 80%;
    
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.img_Lg_sm{
    width: 100%;
}
.number,
.name,
.pass,
.email{
    text-align: initial;
    line-height: 40px;
}
.number_text,
.name_text,
.pass_text,
.Email_text{
    text-align: initial;
    height: 35px;
    font-size: 14px;
    color: #0078ae !important;
    font-weight: 600;
    line-height: 40px;
}

.box_lg{
    width: 500px;
}
.box_regin{
    width: 500px; 

}
.btn_regin_ss,
.ss{
    display: flex;
    width: 80%;
    margin-top: 48px;
    height: 39px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: -14px solid;
    background-color: #e31837;
    border-radius: 3px;
}

.btn_regin_ss{
    margin-bottom: 24px;
}


.erorr{
    font-size: 14px;
    color: red;
    font-weight: 600;
    text-align: initial;
    height: 30px;
    line-height: 40px !important;
}

@media (max-width: 968px){
    .img_Lg_sm{
        display: none;
        
    }
    .box_lg{
        padding: 30px;
    }
    .box_regin{
        padding: 30px;
        width: 300px;
        padding-right: 0!important;
        margin-top: 60px;
    }
}

/* @media (max-width: 576px){
   .box_regin{
    width: 300px;
    padding-right: 0!important;
    margin-top: 60px;
   } 
} */