@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

button{
    border: none;
}

:root{
    --color-text: white;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
.color{
    color: white;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    /* padding-right: var(--bs-gutter-x,.75rem); */
    /* padding-left: var(--bs-gutter-x,.75rem); */
    margin-left: 0 !important;
    margin: 0 !important;
    // overflow-x: hidden;
}   


.form-control{
    width: 79%;
    padding: 12px 8px;
    font-weight: 600;
    font-size: 16px;
    border-left: 3px;
}

.block_icon_lg{
    color: #fff;
    font-size: 3.5rem;
}
.display_block{
    display: block !important;
}
.display_none{
    display: none !important;
}
.img_width{
    width: 100%;
}
.img_style{
    border: 1px solid #fff;
    border-radius: 3px;
}