*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
}

li{
    cursor: pointer;
    color: black;
}

.container_menu{
    display: flex;
    margin-left: 0;
    width: 100%;
    /* height: 100vh; */
    /* justify-content: space-between; */
}


.content_menu{
    display: block;
    width: 80%;
    /* min-width: 30%100%; */
    font-size: 18px;
    color: black;
    margin-bottom: 3rem;
    border-right: 2px solid grey;
    overflow: hidden;
    background-color: hsl(210, 36%, 96%);
}

.content_menu .header_menu{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    background-color: #dfe4ea;
    box-shadow: 1px 1px 1px rgb(175, 169, 169);
    margin-left: -5rem;
}

.header_menu li{
    padding: .5rem;
    margin-left: 1.2rem;
    cursor: pointer;
    font-size: 18px;
    color: black;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}


.sub_header{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-left: -30rem;
}

.link{
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 18px;
    padding: .5rem;
}

.sub_header li{
    font-family: serif;
    color: black;
    margin-left: 1rem;
    border: .5px gray solid;
    background-color: white;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    border-radius: 8px;
    padding:.5rem 1.5rem;
    font-weight: 600;
}

.sub_header li:hover{
    background-color: gainsboro;
}

.pizza_btn{

}

.menu_btn{

}

.active{
   border-bottom: 2.5px solid red;
    display: block;
}


.main_menu{

}

.content_menu{
    margin-top: 30px;
}

.subMenu_btn{
    color: black;
}

.active_sub{
    background-color: #e31837 !important;
    color: white !important;
    display: block;
}


.rate_title{
    margin-top: 20px;
}

.rate_title i{
   font-weight: bold;
    font-size: 3rem;
    padding-bottom: 5px;
    color: #ffc83d;
    /* text-shadow:  1px black; */
}

.rate{
    text-align: center;
    font-size: 2.75rem;
    font-weight: 600;
}


.otherMenu{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
    margin-left: 10px;
    /* padding-left: 5rem; */
}

.otherMenu img{
    object-fit: cover;
    width: 220px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    height: 150px;
    transition: all .25s linear;
}

.content_otherMenu img:hover{
    transform: scale(1.2);
    overflow: hidden;
}

.content_otherMenu{
    display: block;
    list-style: none;
    background-color: #dfe4ea;
    border-radius: 10px;
    text-align: center;
    padding:0 0 5rem 0;
    margin-left: 5px;
    margin-top: 30px;
    width: 220px;
    position: relative;
}

.content_otherMenu div{
    overflow: hidden;
    border-radius: 10px;
}


.content_otherMenu li{
    padding-top: 1rem;
    font-size: 1.65rem;
    color: black;
    font-weight: 600;
    margin-bottom: 1rem;
}

.content_otherMenu li:last-child{
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.65rem;
    color: black;
    font-weight: 600;
}

.overflow{
    overflow:overlay;
    height: 100vh;
    overflow-x: hidden;
    padding-bottom: 0rem;
}

.sub_cart{
    display: block;
    width: 20%;
    text-align: center;
}

.cost{
    font-size: 1.65rem;
    display: inline;
}


/* Scroll */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
/* _______ */


@media screen and (min-width: 1200px) and (max-width:1300px){
    .otherMenu{
        grid-template-columns: 1fr 1fr 1fr ;
        /* padding-left: 5rem; */
    }
    .content_menu{
        width: 75%;
        padding-left: 3rem;
    }
}

@media screen and (max-width: 1200px){
    .container_menu{
        display: block;
        width: 100%;
    }

    .content_menu{
        width: 98vw;
        margin: auto;
    }
 
    .sub_header{
        margin-left: 0;
    }

    .otherMenu{
        margin-left: 0px;
        /* padding-left: 5rem; */
    }

}

@media screen and (max-width: 960px){
    .otherMenu{
        grid-template-columns: 1fr 1fr 1fr ;
        padding-left: .5rem;
    }
    .content_menu{
        /* width: 100%; */
        padding-left: 3rem;
        border: none;
    }

    .content_otherMenu {
        width: 230px;
    }

    .content_otherMenu img {
        width: 230px;
    }
}

@media screen and (max-width: 768px){
    .otherMenu{
        grid-template-columns: 1fr 1fr ;
        padding-left: 5rem;
    }

    .header_menu li{
        font-size: 16px;
    }

    .link{
        font-size: 16px;
    }
}

@media screen and (max-width: 655px){
    .link{
        display: none;
    }
    .otherMenu{
        grid-template-columns: 1fr;
        padding-left: 10rem;
    }
    .content_otherMenu{
        width: 300px;
    }
    .content_otherMenu img {
        width: 300px;
    }

    .sub_header li{
        padding: 0.2rem 1rem;
    }
}
