*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
}

li{
    cursor: pointer;
    color: black;
}

.container_menu{
    display: block;
    margin-left: 0;
}

.disable{
    background-color: rgba(155, 148, 148, 0.192);
}

.content_menu{
    display: block;
    max-width: 1100px;
    min-width: 900px;
    font-size: 18px;
    color: black;
}

.content_menu .header_menu{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    background-color: #dfe4ea;
    box-shadow: 1px 1px 1px rgb(175, 169, 169);
}

.header_menu li{
    padding: .5rem;
    margin-left: 1.2rem;
    cursor: pointer;
    font-size: 18px;
    color: black;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}


.sub_header{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-left: -23rem;
}

.link{
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 18px;
    padding: .5rem;
}

.sub_header li{
    font-family: serif;
    color: black;
    margin-left: 1rem;
    border: .5px gray solid;
    background-color: white;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    border-radius: 8px;
    padding:.5rem 1.5rem;
    font-weight: 600;
}

.sub_header li:hover{
    background-color: gainsboro;
}

.pizza_btn{

}

.menu_btn{

}

.active{
   border-bottom: 2.5px solid red;
    display: block;
}


.main_menu{

}

.content_menu{
    margin-top: 30px;
}

.subMenu_btn{
    color: black;
}

.active_sub{
    background-color: #e31837 !important;
    color: white !important;
    display: block;
}


.rate_title{
    margin-top: 20px;
}

.rate_title i{
   font-weight: bold;
    font-size: 3rem;
    padding-bottom: 5px;
    color: #ffc83d;
    /* text-shadow:  1px black; */
}

.rate{
    text-align: center;
    font-size: 2.75rem;
    font-weight: 600;
}


.otherMenu{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
    margin-left: 30px;
    padding-left: 10rem;
}

.otherMenu img{
    object-fit: cover;
    width: 220px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    height: 150px;
    transition: all .25s linear;
}

.content_otherMenu img:hover{
    transform: scale(1.2);
    overflow: hidden;
}

.content_otherMenu{
    display: block;
    list-style: none;
    background-color: #dfe4ea;
    border-radius: 10px;
    text-align: center;
    padding:0 0 5rem 0;
    margin-left: 5px;
    margin-top: 30px;
    width: 220px;
    position: relative;
}

.content_otherMenu div{
    overflow: hidden;
    border-radius: 10px;
}


.content_otherMenu li{
    padding-top: 1rem;
    font-size: 1.65rem;
    color: black;
    font-weight: 600;
    margin-bottom: 1rem;
}

.content_otherMenu li:last-child{
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.65rem;
    color: black;
    font-weight: 600;
}